body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

.poll-title {
	text-align: center;
}

.poll-title h1 {
	margin-bottom: 0;
}

.questions {
	margin-bottom: 10em;
}

.submit {
	margin-top: 40px;
}

.answered {
	margin-bottom: 6em;
}

.none {
	margin-bottom: 20px;
}

.see-more {
	text-align: center;
}

.see-more button {
	color: blue;
	background-color: Transparent;
	border: 0;
	outline:none;
}

.see-more .glyphicon {
	vertical-align:sub;
}

.input-group {
	margin-top: 20px;
}

.btn {
	margin-top: 20px;
	margin-bottom: 50px;
}

.centered-text {
  text-align: center;
}

.modify-button, .delete-button {
  margin: 0;
}
